<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
	Private:
	  Templates:
		List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<f:if condition="{0:debugMode} == {0:'1'}">
	<div class="tx-phpidsng">
		<div id="phpidsngDebug">
			<div class="enabled-debug-output">
				<div class="phpidsngTitle">
					<f:translate key="debug_mode_hint" />
				</div>
				<span class="warningMsg">
					<f:translate key="label_testing_only" /><br />
					<f:translate key="label_testing_deactivate" />
				</span>
			</div>
			<strong>
				<f:translate key="label_warnerror" />
			</strong>
			<f:flashMessages />
			<p class="info">
				<f:translate key="label_warnerror_hint" />
			</p>

			<f:if condition="{phpidsResults -> f:count()} > 0">
				<f:then>
					<div class="injectionDetected">
						<f:for each="{phpidsResults}" as="phpidsResult">
							<strong><f:translate key="intrusion_found" /></strong> {phpidsResult.name}<br />
							<strong><f:translate key="intrusion_impact" /></strong> {phpidsResult.impact}<br />
							<strong><f:translate key="intrusion_tags" /></strong>
							<ul>
								<f:for each="{phpidsResult.tags}" as="tagResult">
									<li>{tagResult}</li>
								</f:for>
							</ul>
						</f:for>
					</div>
				</f:then>
				<f:else>
					<f:if condition="{whitelisted}">
						<f:then>
							<div class="whitelistedPage">
								<strong><f:translate key="intrusion_whitelisted" /></strong>
							</div>
						</f:then>
						<f:else>
							<div class="noInjectionDetected">
								<strong><f:translate key="intrusion_none" /></strong>
							</div>
						</f:else>
					</f:if>
				</f:else>
			</f:if>

			<f:link.page class="phpidsngButton injection" pageUid="{currentPage}" additionalParams="{banner: '999.9 union all select 0x31303235303--'}">
				<f:translate key="label_test_injection" />
			</f:link.page>
			<f:link.page class="phpidsngButton normal" pageUid="{currentPage}">
				<f:translate key="label_test_normal" />
			</f:link.page>

			<br />

			<f:translate key="label_third_party" />
			<f:link.external uri="http://www.phpids.org/" target="_blank">
				<strong><f:translate key="phpids" /></strong>
			</f:link.external>.
		</div>
		</div>
	</f:if>
</f:section>