<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1><f:translate key="mod_header" /></h1>

<f:flashMessages />

<script src="{f:uri.resource(path:'Scripts/Jquery/jquery-2.1.0.min.js')}" type="text/javascript"></script>

<f:be.container addCssFile="{f:uri.resource(path:'Scripts/DataTables/media/css/jquery.dataTables.css')}">
</f:be.container>

<f:be.container addJsFile="{f:uri.resource(path:'Scripts/DataTables/media/js/jquery.dataTables.min.js')}">
</f:be.container>

<f:be.container addJsFile="{f:uri.resource(path:'Scripts/datatables.js')}">
</f:be.container>

<strong>
	<f:translate key="filter_by_domain" />
</strong>

&nbsp;<div id="domainselect"></div>

<br />

<table id="incidents" class="tx_phpidsng">
<thead>
	<tr>
		<th><f:translate key="label_field_created" /></th>
		<th><f:translate key="label_field_impact" /></th>
		<th><f:translate key="label_field_domain" /></th>
		<th><f:translate key="label_field_domain" /></th>
		<th><f:translate key="label_field_name" /></th>
		<th><f:translate key="label_field_value" /></th>
		<th><f:translate key="label_field_page" /></th>
		<th><f:translate key="label_field_tags" /></th>
		<th><f:translate key="label_field_ip2" /></th>
		<th><f:translate key="label_field_origin" /></th>
	</tr>
</thead>
<tbody>
	
<h2><f:count subject="{pHPIDs}" /> <f:translate key="label_count_logged" /></h2>

	<f:for each="{pHPIDs}" as="pHPIDS">
		<tr>
			<td>{pHPIDS.created}</td>
			<td>{pHPIDS.impact}</td>
			<td>{pHPIDS.ip}</td>
			<td>{pHPIDS.domain}</td>
			<td>{pHPIDS.name}</td>
			<td>{pHPIDS.value}</td>
			<td>{pHPIDS.page}</td>
			<td>{pHPIDS.tags}</td>
			<td>{pHPIDS.ip2}</td>
			<td>{pHPIDS.origin}</td>
		</tr>
	</f:for>
</tbody>
</table>

<br />
<div>
	<f:translate key="notice_phpids" />
	<f:link.external uri="http://www.phpids.org/" target="_blank">
		<strong>
			<f:translate key="phpids" />
		</strong>
	</f:link.external>.
</div>
<div>
	<f:translate key="notice_datatables" />
	<f:link.external uri="http://datatables.net/" target="_blank">
		<strong>
			<f:translate key="datatables" />
		</strong>
	</f:link.external>.
</div>

</f:section>